*{
    margin: 0;
    font-family:  Overpass, Helvetica, Arial;
   
}
.first {
    margin-top: 0;
    background-color: black;
    padding: 0;
    

    
}
#start:hover{
    background-color: #111
    
}
#start {
    background-color: #348db9;
    
}

#top {
    max-height: 60px;
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 16px 25px;
    text-align: center;
}

ul {
    
    border: 3px solid #e7e7e7;
    background-color: #333;
    position: fixed;
    border: 0;
    width: 100%;
    
}

nav ul li {
    float: right;
    margin-right: 60px;
    list-style-type: none;
    
}

.link {
    text-decoration: none;

}

.link:hover {
    background-color: #111;
}

.bodyimg {
    max-height: 100%;
    max-width: 100%;
    

}

.shield {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.center{
    text-align:center;
    color:#348db9;
    font-size: 95px;
   font-family:  Overpass, Helvetica, Arial;
  }
  
  .centered{
    position: absolute;
      top: 35%;
      left: 40%;
      transform: translate(-100%, -50%);
      background: rgba(0, 0, 0, 0.5);
      padding:20px 20px;
      color: white;
      
      
    
    }
    .centered1{
        position: absolute;
      top: 45%;
      left: 45%;
      transform: translate(-150%, -50%);
      background: rgba(240, 52, 52, 1);
      padding:20px 20px;
      color: white;
      
    
    }
    .break-point:hover{
        background-color: rgb(242, 242, 242);
        display:flex;
        flex:wrap;
        justify-content: center;
        padding: 20px 25px;
        opacity:0.5px ;
    }
    .info{
    width:400px;
    height:400px;
    padding: 20px 25px;
    
    }
    